ENVIRONMENT=development
HOST=0.0.0.0
PORT=8080
DB_URL=postgres://postgres:postgres@localhost:5432/phone_charging_locker?sslmode=disable
CHARGING_DURATION=1h
CHARGING_AMOUNT=2000
PHOENIXD_PROXY_URL=http://localhost:8080/phoenixd/proxy
PHOENIXD_PROXY_API_KEY=your-api-key
WEBHOOK_URL=https://your-domain.com/webhooks/phoenixd
